<div id="about" class="desc" style="margin-left:100px;margin-right:100">
	<p>
		The Vaidheeshwara Amma Bhagavan temple is the abode of Amma and one of the three sacred sites of the Oneness Movement
		started by Shri Amma Bhagavan. It is located in Nemam, Tamil Nadu on the Thiruvallur High Road about 25 km from Chennai. It is a place of enormous divine energies and any devotee can experience its miracles! 
			Many devotees have experienced miracles such as healing of incurable diseases, receiving wealth, and enjoying good relationships. The temple conducts pujas, classes and homas on a regular basis such as Arogya Puja, Pithru Shanthi Homam and Aishawarya Puja. 
		</p>
	<p>          			
		The Oneness Movement started in 1989 with the conception of Jeevashram a school started by Shri Bhagavan in Satyalok in Karnataka. There, a mystical event occurred - A golden ball of divine light and intelligence that came to be known as the Golden Ball of Divine Grace descended and what took years of practice and discipline was given as a simple gift called Deeksha. This gave rise to the Oneness movement which is present all over the world today.
	</p>
	<p>
		Deeksha  is a transfer of divine, intelligent energy. The deeksha process works by creating a neurobiological shift in the brain and awakening the energy centres (Chakras) in the body. This shift in consciousness frees you from the suffering created by the mind, balances the body’s natural healthy and healing energies and attunes the brain with the fields of unity, bringing an end to the illusion of “apparent separation”. Once initiated, it is a gradual Awakening process that leads you naturally to a lasting state of Oneness, Inner peace, and Well-being.  
	</p>

	<img src="images/Paduka.jpg" style="width:150px; margin-left:350px"> </img>

 </div> <!-- about div -->
